<a href="https://colab.research.google.com/github/prennah/Assignment2-ISYS2001/blob/main/development_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pseudocode of the Python codes**

##**Downloading the Enron Email Database**

In [ ]:
#Use the wget! to download the enron.db file
#Setting the output file as enron.db
#Using the url of the enron.db as pathway

##**Create Connection between SQLite and Enron**

In [1]:
#Import sqlite3 to connect to the sqlite database
#Import pandas to gather the date

In [ ]:
#Create a connection between enron.db and the sqlite3 using the sqlite.connect()
#Save the connection as the variable name "conn"

In [ ]:
#Create a cursor function to run the SQL queries on the database
#Using the "cur.cursor()" method, create the cursor
#Name the variable as "cur" and save it

**Check Schema of SQLite Database**

In [ ]:
#Write an SQL query to gather data from enron database
#Next write the codes
SELECT name 
FROM sqlite_master
WHERE type = "table";
#Execute the SQL query using a cursor function "cur"
#Fetch all the outcomes using the cur.fetchall() method

**Check Schema of Table Employeelist using PRAGMA**

In [ ]:
#Write an SQL query to gather data from the table employeelist provided on the database using PRAGMA
#Write the codes
PRAGMA table_info("employeelist");
#Execute the SQL query using a cursor function "cur"
#Fetch all the outcomes using the cur.fetchall() method

**Check Schema of Table Message using PRAGMA**

In [ ]:
#Write an SQL query to gather data from the table message provided on the database using PRAGMA
#Write the codes
PRAGMA table_info("message");
#Execute the SQL query using a cursor function "cur"
#Fetch all the outcomes using the cur.fetchall() method

**Check Schema of Table Recipientinfo using PRAGMA**

In [ ]:
#Write an SQL query to gather data from the table recipientinfo provided on the database using PRAGMA
#Write the codes
PRAGMA table_info("recipientinfo");
#Execute the SQL query using a cursor function "cur"
#Fetch all the outcomes using the cur.fetchall() method

**Check Schema of Table Referenceinfo using PRAGMA**

In [ ]:
#Write an SQL query to gather data from the table referenceinfo provided on the database using PRAGMA
#Write the codes
PRAGMA table_info("referenceinfo");
#Execute the SQL query using a cursor function "cur"
#Fetch all the outcomes using the cur.fetchall() method

##**Email Traffic Overtime**

In [ ]:
#Define the SQL query
SELECT date
FROM message
#Execute the SQL query and store the results in a Dataframe
#Display information about the Dataframe

**Message per day**

In [ ]:
#Define the SQL query to count number of emails per day
SELECT strftime("%Y-%m-%d", date) AS date,
COUNT(*) AS count 
FROM message
GROUP BY date
#Execute the SQL query and store the results in a Dataframe
#Display the Datframe

In [ ]:
#Set the figure size
#Plot the line graph
#Set the x-axis
#Set the y-axis
#Set the title
#Display the plot

**Message per week**

In [ ]:
#Define the SQL query to count number of emails per week
SELECT strftime("%Y-%m-%w", date) AS date,
COUNT(*) AS count 
FROM message
GROUP BY date
#Execute the SQL query and store the results in a Dataframe
#Display the Datframe

In [ ]:
#Set the figure size
#Plot the line graph
#Set the x-axis
#Set the y-axis
#Set the title
#Display the plot

**Message per month**

In [ ]:
#Define the SQL query to count number of emails per month
SELECT strftime("%Y-%m-%m", date) AS date,
COUNT(*) AS count 
FROM message
GROUP BY date
#Execute the SQL query and store the results in a Dataframe
#Display the Datframe

In [ ]:
#Set the figure size
#Plot the line graph
#Set the x-axis
#Set the y-axis
#Set the title
#Display the plot

##**Top senders and Top Recipients**

In [ ]:
#Define the SQL query to count the number of emails sent by each sender

**Top Senders**

In [ ]:
#Execute  the SQL query and store the results in a Dataframe
#Display the Dataframe

In [ ]:
#Import the necessary libraries
#Set the data for plotting
#Create a bar plot using seaborn
#Display the plot

**Top Recipients**

In [ ]:
#Import the necessary libraries
#Execute the SQL query and store the results in a Dataframe

In [ ]:
#Create a connection to the SQLite database
#Execute the SQL query and store the sresults in a Dataframe
#Display the Dataframe

In [ ]:
#Set the data for plotting
#Create a bar plot using seaborn
#Display the plot

##**Email Distribution by Recipient type**

In [ ]:
#Define the SQL query to retrieve recipient types and their counts

In [ ]:
#Execute the SQL query and store the rseults in a Dataframe
#Display the Dataframe

In [ ]:
#Create a list of labels for the pie chart
#Create a list of values for the pie chart
#Plot the pie chart
#Set the title of the pie chart
#Display the pie chart

#**Testing**

**Syntax error**

In [2]:
#one syntax error, a % missing in the folllowing code
plt.pie(values, labels=labels, autopct= "%1.1f%")

#to fix it, search what is wrong in the code and solve it
plt.pie(values, labels=labels, autopct= "%1.1f%%")

**Name error**

In [ ]:
#one name error was undefined variable name
top_recipient_df = pd.read_sql_query(sql_recipients, conn)

#found the solution after carefully analysing the code, the alphabet "s" was missing in the variable
top_recipients_df = pd.read_sql_query(sql_recipients, conn)

**Operation error**

In [ ]:
#one operation error was an argument was in addition in one of the sql query
sql = """
SELECT name
FROM sqlite_master
WHERE type = "table"
GROUP BY table_name;
"""
#after analysing the error, it was best to remove the addtion argument which was the GROUP BY argument as the table_name is not recognised in the sqlite_master
sql = """
SELECT name
FROM sqlite_master
WHERE type = "table";
"""

**Attribute error**

In [ ]:
#one attribute error is that there was no column for "recipient" in the Dataframe of "top_recipients_df"
#we add a colume named "recipient" to ensure it is exist in the Dataframe
data = top_recipients_df
sns.barplot(x="count", y = "recipient", data=data)
plt.show()
#or we can also modify the code according to a column that is already recognised in the Dataframe.